#screen-container {
  display: flex;
}

#background-canvas {
  position: absolute;
  left: 0;
  top: 100;
  right: 0;
  bottom: 0;
  z-index: 0 ;
  background-color: #48e;
  margin: 0 auto;
}

#objects-canvas {
  position: absolute;
  left: 0;
  top: 100;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1 ;
}

#characters-canvas {
  position: absolute;
  left: 0;
  top: 100;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 2;
}

.high-scores {
  background-color: antiquewhite;
  position: absolute;
  margin-left: 450px;
  /*right: 100;
  top: 200;*/
  width: 150;
  height: 400;
  text-align: center;
  font-family: press_startregular;

}

.high-scores h1 {
  font-size: 18px;
}
